body {
  margin:0px;
  padding:0px;
  text-align:center;
  background-color: #555; 
  color: white;
}

.container {
	width: 500px;
	margin: 30px auto;
}

div.dashboard {
	float: right;
}

canvas#gameboard {
  float: left;
  border: 3px solid black;
  background-color: #bbb;
}

canvas#nextboard {
	border: 3px solid black;
	background-color: #bbb;	
}

.group:after {
  content: "";
  display: table;
  clear: both;
}